body {
  /* background-color: #999; */
  /* color: #fff; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  margin: 0;
  padding: 0;
  background-color: #999;
  height: 3rem;
}

.header-title {
  float: left;
  margin: 0;
  padding: 1rem;
}

.header-link {
  float: right;
  display: block;
  padding: 1rem;
}

.intro-container {
  display: flex;
}

.intro-paragraph {
  width: 40rem;
  margin-top: 5rem;
}

.headshot {
  width: 33%;
  float: right;
  margin-left: 5rem;
  margin-top: 1rem;
  border-radius: 50%;
}

.project-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 20rem);
}

.project {
  margin: 0;
  padding: 0;
  width: 10rem;
  height: 10rem;
  border: 2px solid red;
}
