body {
  background-color: #2a9d8f;
  /* color: #fff; */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header-link:link,
.header-link:visited {
  background-color: #e9c46a;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.header-link:hover {
  background-color: #f4a261;
}

.header {
  margin: 0;
  padding: 0;
  background-color: #e9c46a;
  height: 3rem;
}

.header-title {
  float: left;
  margin: 0;
  padding: 1rem;
}

.header-link {
  float: right;
  display: block;
  padding: 1rem;
}

.intro-container {
  display: flex;
}

.intro-text {
  width: 54%;
  border: 2px solid red;
}

.intro-header {
  font-size: 45px;
}

.intro-paragraph {
  width: 40rem;
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #264653;
}

.headshot {
  width: 33%;
  height: 33%;
  float: right;
  border-radius: 50%;
  margin: 50px;
}

.project-wrapper {
  margin: auto;
  width: 75%;
}

.project-container {
  display: grid;
  gap: 50px;
  grid-template-rows: repeat(3, 25rem);
}

.project {
  margin: 0;
  padding: 0;
  width: 60rem;
  height: 25rem;
  border-radius: 25px;
  background: #fff;
  box-shadow: 5px 5px 5px #264653;
}

.project-header {
  display: grid;
}

.project-links {
  margin: auto;
}

.project-title {
  margin: auto;
}

.skills-wrapper {
  margin: auto;
  width: 75%;
}

.skills-container {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(6, 7rem);
}

.skill-name {
  background: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: auto;
  width: 100%;
  box-shadow: 2px 2px 5px #264653;
}

.contact-wrapper {
  margin: auto;
  width: 75%;
}

.contact-links {
  display: flex;
}

.contact {
  margin: 5px;
  padding: 5px;
}

.contact-form {
  background: white;
  padding: 10px;
  height: 15rem;
  width: 75%;
  border-radius: 25px;
  box-shadow: 2px 2px 5px #264653;
}

/* COLOR PALETTE ! https://coolors.co/palette/264653-2a9d8f-e9c46a-f4a261-e76f51 */
